@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap');

body {
    background-color: #F0E6EF;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

.submission {
    border: 2px solid black;
    width: 30%;
    height: line-height;
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    font-family: 'Raleway', sans-serif;
    background-color: #efc3e6;
    border-radius: 5px;
    cursor: pointer;
  }

.submission:hover {
    background: white;
    color: black;
}

form {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #EFC3E6;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    padding: 20px 10px;
    border-radius: 30px;
    align-items: center;

}
input {
  width: 450px;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

input[type=text]:focus {
    background-color: F0E6EF;
    border: 3px white;
}

.add-venue-button {
    border: 2px solid black;
    height: line-height;
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    font-family: 'Raleway', sans-serif;
    background-color: #efc3e6;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
  }
  
  .add-venue-button:hover {
    background: white;
    color: black;
  }
  