.OneListing{
    font-family: 'Montserrat';
    background: linear-gradient(#9c89B8, #F0A6CA, #F0E6EF);
    border: 5px solid black;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.fryft{
    margin-bottom: 5px;
    border: 2px solid blue;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
}
.header{
    text-align: center;
    display: inline-block;
    width: 20%;
}

.VenueInfo{
    display: inline-block;
    text-align: left;
    width: 60%;
    padding-left: 4%;
    font-family: 'Raleway', sans-serif;
}


  


.button {
    border: 3px solid transparent;
    background-color: lightblue;
    display: inline-block;
    font-size: 130%;
    font-family: 'Raleway', sans-serif;
    border-radius: 20px;
    width: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    

}
.button:hover{
    text-shadow: black;
    border: 3px solid black;
}

#linked {
    text-decoration: none;
    color: black;
}