
body {
    background: #F0A6CA;
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStnHTkF-_Aq4ehNMGAAnECSdOQmg2ZtzIJdCSXBs11cA&s'); */

}

h1 {
    font-family: 'Shrikhand', cursive;
}

button {
    font-family: 'Raleway', sans-serif;
    background-color: #EFC3E6;
    border-radius: 5px;
    border-width: 2px;
    padding: 5px;
    width: 250px;
    cursor: pointer;
}
